*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    background-color: #111;
    overflow: hidden;
}

/* Introduction */
.salute{
    height: 100hv;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.saluteTextContainer{
    flex: 3;
}
.saluteImgContainer{
    flex: 1;
}
.saluteText{
    color: #333;
    font-size: 60vw;
    line-height: 100vh;
    cursor: default;
}
.saluteImg{
    width: 100%;
}
.nameContainer{
    height: 100vh;
    background-color: rebeccapurple;
}
.name{
    color: #333;
    font-size: 12vw;
    line-height: 100vh;
    align-items: center;
    cursor: default;
}
.jobTitleContainer{
    height: 100vh;
}
.jobTitleContainer.dark{
    background: url("../img/bg1.png");
}
.jobTitleContainer.purple{
    background: rebeccapurple url("../img/bg2.png");
}
.jobTitle{
    color: #333;
    font-size: 10vw;
    line-height: 100vh;
    cursor: default;
}
/* Introduction */

/* Projects */
.projects{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 30vh;
}
.projectsTitle{
    color: #333;
    font-size: 10vw;
}
.project{
    height: 100vh;
    display: flex;
    gap: 100px;
    align-items: center;
    overflow: hidden;
}
.project:nth-child(2n){
    flex-direction: row-reverse;
}
.phone{
    width: 300px;
    height: 600px;
    flex: 1;
    position: relative;
}
.phoneScreen{
    width: 264px;
    height: 567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
}
.phone, .laptop, .ipad{
    z-index: 1;
}
.phoneScreen::-webkit-scrollbar,
.laptopScreen::-webkit-scrollbar,
.ipadScreen::-webkit-scrollbar{
    display: none;
}
.phoneApp{
    width: 100%;
}
.projectDetail{
    color: #555;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.projectTitle{  
    font-size: 7vw;
}
.projectDesc{
    font-size: 20px;
    line-height: 40px;
    text-align: justify;
}
.projectBtn{
    padding: 10px 20px;
    color: #555;
    background-color: transparent;
    border: 2px solid #555;
    position: relative;
    overflow: hidden;
}
.projectBtn::after{
    width: 100%;
    height: 100%;
    content: "View Demo";
    color: #222;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #555;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectBtn:hover.projectBtn::after{
    left: 0;
}
.laptop{
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
}
.laptopScreen{
    width: 451px;
    height: 283px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
}
.laptopApp{
    width: 100%;
}
.ipad{
    /* width: 600px; */
    flex: 1;
    position: relative;
}
.ipadScreen{
    width: 370px;
    height: 528.6px;
    position: absolute;
    top: 33.2px;
    left: 32.4px;
    border-radius: 5px;
    overflow: scroll;
}
.ipadApp{
    width: 100%;
}
/*  */

/* Github */
.githubContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.githubTitle{
    color: #333;
    font-size: 100px;
}
.githubChart{
    width: 820px;
    text-align: center;
}
.dates{
    padding: 10px;
    color: #555;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.box{
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all ease;
}
.active:nth-child(4n){
    background-color: #195b2c;
}
.githubChart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
    animation: color-to 3s linear forwards;
}
/* @keyframes color-to {
    50%{
        background-color: #063f24;
    }
    0%, 100%{
        background-color: #195b2c;
    }
} */
.githubChart:hover .active:nth-child(2n){
    background-color: #063f24;
    animation: color-from 3s linear forwards;
}
/* @keyframes color-from {
    50%{
        background-color: #195b2c;
    }
    0%, 100%{
        background-color: #063f24;
    }
} */
.githubSm{
    display: none;
}
/* Github */


@media screen and (max-width:1024px) {
    .projects{
        padding: 0 30px;
        text-align: center;
    }
    .project{
        height: max-content;
        flex-direction: column;
    }
    .project:nth-child(2n){
        flex-direction: column;
    }
    .phone, .laptop{
        transform: none !important;
    }

    .githubTitle{
        font-size: 10vh;
        text-align: center;
    }
    .githubChart{
        display: none;
    }
    .githubSm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: #555;
        text-align: center;
    }
}

@media screen and (max-width:600px){
    .ipad{}
}