<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Protfolio Website Design by me - Personal Resume webside</title>

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/cusbtsp.css">
    <link rel="stylesheet" href="./assets/css/hireme.css">

    <link rel="stylesheet" href="./assets/libraries/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/libraries/bootstrap-5.1.3-dist/js/bootstrap.min.js">
    <link rel="stylesheet" href="./assets/libraries/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="./assets/libraries/Fontawesome/css/all.css">

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>

</head>
<body>
    
    <!-----    Header Section     ----->

    <header id="hearder">
        <div class="container text-center">
            <div class="hearder__user-box">
                <img src="./assets/img/my-image.jpg" alt="Resume Img">
                <h1>Essakkiappan Subash</h1>
                <p>Freelance Front End Web Developer</p>
            </div>
        </div>
        <div class="hearder__scroll-btn">
          <div class="hearder__scroll-bar">
            <a href="#about">
              <span></span>
            </a>
          </div>
        </div>
    </header>

    <!-----    User-Info Section     ----->

    <section id="user-info">

      <div class="nav-bar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="./index.html#top" style="color: #ff0000;">
                Essakkiappan
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="./index.html#top">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./index.html#about">ABOUT ME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./index.html#resume">RESUME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./index.html#services">SERVICES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./index.html#contact">CONTECT</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>

        <!-----    Hireme-Form     ----->
        <div class="hireme" id="hireme">
          <div class="container">
            <div class="form-heading">
              <h3>Share Information</h3>
            </div>
            <form class="form" action="./hireme.html">
              <div class="row">
                <div class="col-md-6">

                  <div class="fild-size">
                    <div class="label-top">
                      <label for="Firstname" class="control-label af-slide" >
                        First Name: 
                      </label>
                    </div>
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="Firstname" name="Firstname" data-fieldid="12666" data-af-field="Firstname" data-ng-model="form.fields.Firstname.value" data-ng-keyup="form.fields.Firstname.touched = true;" af-field-title="*First name:" type="text" maxlength="25" placeholder="First Name">
                  </div>
                  
                </div>
                <div class="col-md-6"> 

                  <div class="fild-size">
                    <div class="label-top">
                      <label for="Firstname" class="control-label af-slide" >
                        Last Name: 
                      </label>
                    </div>
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="Firstname" name="Firstname" data-fieldid="12666" data-af-field="Firstname" data-ng-model="form.fields.Firstname.value" data-ng-keyup="form.fields.Firstname.touched = true;" af-field-title="*First name:" type="text" maxlength="25" placeholder="Last Name">
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6">

                  <div class="fild-size">
                    <div class="label-top">
                      <label for="Firstname" class="control-label af-slide" >
                        Company Name: 
                      </label>
                    </div>
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="Firstname" name="Firstname" data-fieldid="12666" data-af-field="Firstname" data-ng-model="form.fields.Firstname.value" data-ng-keyup="form.fields.Firstname.touched = true;" af-field-title="*First name:" type="text" maxlength="25" placeholder="Company Name">
                  </div>
                  
                </div>     
                <div class="col-md-6">
  
                  <div class="fild-size">
                    <div class="label-top">
                      <label for="Firstname" class="control-label af-slide" >
                        Company Email: 
                      </label>
                    </div>
                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="Firstname" name="Firstname" data-fieldid="12666" data-af-field="Firstname" data-ng-model="form.fields.Firstname.value" data-ng-keyup="form.fields.Firstname.touched = true;" af-field-title="*First name:" type="text" maxlength="12" placeholder="Company Email">
                  </div>
                  
                </div>              
              </div>
              <div class="row">
                <div class="col-md-6">
  
                    <div class="fild-size">
                      <div class="label-top">
                        <label for="Firstname" class="control-label af-slide" >
                          Mobile Number: 
                        </label>
                      </div>
                      <input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="Firstname" name="Firstname" data-fieldid="12666" data-af-field="Firstname" data-ng-model="form.fields.Firstname.value" data-ng-keyup="form.fields.Firstname.touched = true;" af-field-title="*First name:" type="email" maxlength="25" placeholder="Mobile Number">
                    </div>
                    
                </div>                
              </div>
              <div class="row">
                <div class="col-md-9">

                  <div class="fild-size">
                    <div class="label-top">
                      <label for="Firstname" class="control-label af-slide" >
                        Tell Us More: 
                      </label>
                    </div>
                    <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="Firstname" name="Firstname" cols="10" rows="5"  type="text" maxlength="250" placeholder="Tell Us More"> </textarea>
                  </div>

                </div>                 
              </div>
              <div class="row">
                <div class="col-md-9">

                  <div class="fild-size">
                    <input type="hidden" name="_mc4wp_subscribe_contact-form-7" value="0" /><span class=" mc4wp-checkbox mc4wp-checkbox-contact-form-7" ><label><input type="checkbox" name="_mc4wp_subscribe_contact-form-7" value="1" checked="checked" /><span>You are Interested to Hire Me!</span></label></span>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-9">

                  <div class="fild-size">
                    <button type="submit" class="form-btn">Submit</button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>

        <!-----    Social-icons     ----->
        <div class="social-icons">

          <ul>
            <a href="https://www.linkedin.com/" target="blank">
              <li>
                <i class="fa-brands fa-linkedin-in"></i>
                <!----- 
                <i class="fa-brands fa-linkedin"></i>
                 ----->
              </li>
            </a>
            <a href="https://twitter.com/login?lang=en" target="blank">
              <li>
                <i class="fa-brands fa-twitter"></i>
                <!----- 
                <i class="fa-brands fa-twitter-square"></i>
                ----->
              </li>
            </a>
            <a href="https://github.com/" target="blank">
              <li>
                <i class="fa-brands fa-github"></i>
                <!----- 
                <i class="fa-brands fa-github-square"></i>
                <i class="fa-brands fa-github-alt"></i>
                ----->
              </li>
              <a href="https://www.instagram.com/" target="blank">
                <li>
                  <i class="fa-brands fa-instagram"></i>
                  <!----- 
                  <i class="fa-brands fa-instagram-square"></i>
                  ----->
                </li>
            </a>
            <a href="https://www.skype.com/" target="blank">
              <li>
                <i class="fa-brands fa-skype"></i>
              </li>
          </a>
          </ul>

          <!-----    
            <i class="fa-brands fa-medium"></i>   medium
            <i class="fa-brands fa-behance"></i>   behance
            <i class="fa-brands fa-behance-square"></i>  behance-square
           ----->

        </div>

        <!-----    Map     ----->
        <div class="map" id="map">
          <div class="colorchange">
            <div class="container text-center">
                <div class="map-content text-center">
                  <h2>MAKE YOUR APPOINTMENT TODAY</h2>
                </div>
                <div class="map-form">
                  <input type="text" class="map-form-address" placeholder="Enter street address, city, state or zip code">
                  <button type="submit" class="map-form-btn">SEARCH</button>
                </div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2791.080084789034!2d77.61415976728188!3d8.38362330136706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0466d58d771511%3A0xa4aca6dee6aacfed!2sValliyur%2C%20Tamil%20Nadu%20627117!5e0!3m2!1sen!2sin!4v1651404831877!5m2!1sen!2sin" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>             
            </div>
          </div>
        </div>

        <!-----    Contact    ----->

        <div class="contact" id="contact">
            <div class="container text-center">
              <h1>Contact Me</h1>
              <p>
                Do you went Contact me <br> Use below the given details to reachout me and my team.
              </p>

              <div class="row">
                <div class="col-md-4">
                  <i class="fa-solid fa-phone"></i>
                  <p>+91-9087485388</p>
                </div>
                <div class="col-md-4">
                  <i class="fa-solid fa-envelope"></i>
                  <p>essakkiappan.s19595@gmail.com</p>
                </div>
                <div class="col-md-4">
                  <i class="fa-solid fa-globe"></i>
                  <p>www.essakkiappansubash-protfolio.com</p>
                </div>
              </div>

              <a href="./assets/pdf/S.Essakkiappan's Resume (2) - 2022-12-03T111003.026.pdf" target="blank">
                <button type="button" class="btn btn-primary">
                  <i class="fa-solid fa-download"></i>Resume
                </button>
              </a>
              <a href="./hireme.html">
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-handshake"></i>Hire me
                  </button>
              </a>
            </div>
            <div class="footer text-center">
              <p>
                <i class="fa-regular fa-copyright fctext"></i> 2022 Copy Rights,
                Made with  <i class="fa-regular fa-heart fctext"></i>  by Essakkiappan Subash.
              </p>
            </div>
          </div>
    </section>

</body>
</html>
